.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: medium solid gray;
  border-right: medium solid gray;
}

.links {
  flex: 1 1 auto;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
