.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 950px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: medium solid gray;
  border-right: medium solid gray;
}

.box-links {
  flex: 1 1 auto;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .container {
    width: 85%;
  }
  .box-links {
    flex-direction: column;
    align-items: center;
  }
}
