.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  --font-text: 20px;
}

.container {
  width: 950px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: var(--border-medium) solid gray;
  border-right: var(--border-medium) solid gray;
}

.content-container {
  flex: 1 1 auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.static-container {
  flex: 1 1 auto;
  font-size: var(--font-larger);
  padding: .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.break {
  flex: 0 0 auto;
  width: 0;
  height: 20px;
}

.title {
  color: white;
  font-family: var(--ff);
  font-size: var(--font-larger);
  border-bottom: medium solid blue;
}

.sub-title {
  color: white;
  font-family: var(--ff);
  font-size: var(--font-large);
  border-bottom: medium solid blue;
}

.text-body {
  font-family: var(--ff);
  font-size: var(--font-text);
  line-height: 1.1;
  padding: .5em 1ch;
  background-color: gray;
  color: white;
  box-shadow: 0 1em blue;
}

.text-body span {
  color: blue;
}

.bullet {
  width: 100%;
  display: flex;
  color: white;
  font-size: var(--font-text);
  font-family: var(--ff);
}

.bullet__point {
  min-width: 2ch;
  min-height: 2em;
  background-color: magenta;
}

.bullet__text {
  background-color: gray;
  padding: .5em 1ch;
  display: flex;
  align-items: center;
}

.link {
  width: 100%;
  display: flex;
  align-items: center;
  color: magenta;
  text-decoration: underline;
  font-size: var(--font-large);
  font-family: var(--ff);
}

.link:hover {
  cursor: pointer;
}

.box-links {
  flex: 1 1 auto;
  width: 100%;
  font-size: var(--font-default);
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.ascii {
  display: flex;
  width: 100%;
}

.ascii__text {
  color: rgb(0, 255, 0);
  font-size: var(--font-larger);
  font-family: var(--ff);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ascii__image {
  flex: 1 0 auto;
  width: 480px;
  border: 8px solid magenta;
}

.image-container {
  width: 300px;
  aspect-ratio: 1 / 1.1;
}

.mixed-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.mixed-container__text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}


@media (max-width: 768px) {
  .container {
    width: 85%;
  }

  .static-container {
    justify-content: flex-start;
    padding-top: 0px;
  }

  .text-body {
    font-size: var(--font-default);
    text-align: justify;
  }

  .bullet__text {
    font-size: var(--font-default);
    text-align: justify;
  }

  .box-links {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .ascii {
    flex-direction: column;
    justify-content: flex-start;
  }

  .ascii__image {
    border: 2px solid magenta;
    width: round(100%, 4px);
  }

  .ascii__text {
    padding: 20px 0px;
  }

  .image-container {
    width: 100%;
  }

  .mixed-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}