.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  --font-text: 20px;
}

.container {
  width: 950px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: medium solid gray;
  border-right: medium solid gray;
}

.content-container {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.static-container {
  flex: 1 1 auto;
  font-size: var(--font-larger);
  padding: .5em;
}

.break {
  width: 0;
  height: var(--font-text);
}

.title {
  color: white;
  font-family: var(--ff);
  font-size: var(--font-larger);
  border-bottom: medium solid blue;
}

.sub-title {
  color: white;
  font-family: var(--ff);
  font-size: var(--font-large);
  border-bottom: medium solid blue;
}

.text-body {
  font-family: var(--ff);
  font-size: var(--font-text);
  line-height: 1.1;
  padding: .5em 1ch;
  background-color: gray;
  color: white;
  box-shadow: 0 1em blue;
}

.text-body span {
  color: blue;
}

.bullet {
  width: 100%;
  display: flex;
  color: white;
  font-size: var(--font-text);
  font-family: var(--ff);
}

.bullet__point {
  min-width: 2ch;
  min-height: 2em;
  background-color: magenta;
}

.bullet__text {
  background-color: gray;
  padding: .5em 1ch;
  display: flex;
  align-items: center;
}

.link {
  width: 100%;
  display: flex;
  align-items: center;
  color: magenta;
  text-decoration: underline;
  font-size: var(--font-large);
  font-family: var(--ff);
}

.link:hover {
  cursor:pointer;
}

.box-links {
  flex: 1 1 auto;
  width: 100%;
  font-size: var(--font-default);
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .container {
    width: 85%;
  }

  .text-body {
    font-size: var(--font-default);
    text-align: justify;
  }

  .bullet__text {
    font-size: var(--font-default);
    text-align: justify;
  }

  .box-links {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}