.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  --font-text: 20px;
}

.container {
  width: 950px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: medium solid gray;
  border-right: medium solid gray;
}

.content-container {
  flex: 1 1 auto;
  font-size: var(--font-larger);
  padding: .5em;
  overflow-y: scroll;
}

.break {
  width: 0;
  height: var(--font-text);
}

.title {
  color: white;
  font-family: var(--ff);
  font-size: var(--font-larger);
  border-bottom: medium solid blue;
}

.text-body {
  font-family: var(--ff);
  font-size: var(--font-text);
  line-height: 1;
  padding: .5em 1ch;
  background-color: gray;
  color: white;
  box-shadow: 0 1em blue;
}

.bullet-container {
  width: 100%;
  display: flex;
}

.bullet {
  font-size: var(--font-text);
  width: 2ch;
  height: 2em;
  background-color: magenta;
}

.bullet-text {
  background-color: gray;
  color: white;
  font-size: var(--font-text);
  font-family: var(--ff);
  padding: .5em 1ch;
  display: flex;
  align-items: center;
}

.sub-title {}

@media (max-width: 768px) {
  .container {
    width: 85%;
  }

  .text-body {
    font-size: var(--font-default);
    text-align: justify;
  }

  .bullet-text {
    font-size: var(--font-default);
    white-space: nowrap;
    overflow-x: hidden;
  }
}