.main {
  width: 50%;
  aspect-ratio: 1/1;
  position: relative;

  --img-transform: none;
  --filter: saturate(0%);
  --border-color: white;
  --title-color: black;
  --title-background-color: yellow;
  --title-shadow-color: rgba(0, 0, 0, .5);
}

.main:hover {
  cursor: crosshair;
  --img-transform: scale(1.2);
  --filter: none;
  --border-color: magenta;
  --title-color: yellow;
  --title-background-color: magenta;
  --title-shadow-color: blue;
}

.parent {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
}

.img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease-in-out;
  transform: var(--img-transform);
}

.shadow {
  width: 90%;
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(/images/checkerboard-magenta.png);
  image-rendering: pixelated;
  content: ' ';
  filter: var(--filter);
}

.description-background {
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  background-color: gray;
}

.description {
  max-height: 16%;
  font-family: var(--ff);
  font-size: var(--font-medium);
  padding: 1em 2ch;
}

.border-highlight {
  width: 95%;
  height: 95%;
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  border: 1ch solid var(--border-color);
  border-style: double;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.title {
  width: 66%;
  height: 18%;
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%);
  font-family: var(--ff);
  font-size: var(--font-large);
  color: var(--title-color);
  background-color: var(--title-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em 1ch;
}

.title-shadow {
  width: 66%;
  height: 18%;
  position: absolute;
  top: 0;
  left: 65%;
  transform: translate(-65%);
  background-color: var(--title-shadow-color);
}

@media (max-width: 768px) {
  .main {
    width: 80%;
  }

  .title,
  .description {
    font-size: var(--font-default);
  }

  .description {
    font-size: 12px;
  }
}