.main {
  object-fit: cover;
  box-sizing: border-box;
  border: var(--border-medium) solid gray;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
}

.border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border: var(--border-medium) solid gray;
}