.main {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  box-sizing: border-box;
  height: 80%;
  object-fit: cover;
  border: solid medium cyan;
  box-shadow: 20px 20px gray;
  background-color: black;
}

@media (max-width: 768px) {
  .img {
    width: 90%;
    height: auto;
    box-shadow: 0px 20px gray;
  }
}