.main {
  --font-height: 16px;
  --font-width: 8px;
  width: round(100%, var(--font-height));
  aspect-ratio: 1 / 1;
  align-self: center;
  position: relative;
  display: flex;
}

.ascii-grid {
  width: 100%;
  height: 100%;
  display: grid;
}

.loading {
  text-align: center;
  line-height: 1;
  font-family: var(--ff);
  font-size: var(--font-height);
  color: white;
}

.ascii-cell {
  -webkit-font-smoothing: none;
  width: var(--font-width);
  height: var(--font-height);
  text-align: center;
  line-height: 1;
  font-family: var(--ff);
  font-size: var(--font-height);
}

.progress-bar {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: rgb(0, 255, 0);
  background-color: black;
  font-family: var(--ff);
  font-size: var(--font-height);
}

@media (max-width: 768px) {
  .main {
    --font-height: 8px;
    --font-width: 4px;
    width: round(100%, var(--font-height));
  }

  .border {
    border: solid medium rgba(255, 0, 255, .7);
  }
}